body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #4caf50;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

.heart-rate, .breath-rate {
    font-size: 18px;
    margin: 10px;
    color: #555;
}

button {
    padding: 12px 24px;
    font-size: 16px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

.image-text-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.text-container {
    max-width: 300px;
    text-align: left;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}